:root {
  /* declare a variable with `--` syntax */
  --dark: rgb(0, 17, 55);
  --light: rgb(41, 175, 216);
}

footer {
  display: block;
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  background-color: var(--dark);
  color: white;
  font-size: 30px;
}

footer a {
  color: white;
  font-size: 30px;
}
