:root {
  /* declare a variable with `--` syntax */
  --dark: rgb(0, 17, 55);
  --light: rgb(41, 175, 216);
}

footer {
  display: block;
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  background-color: var(--dark);
  color: white;
  font-size: 30px;
}

footer a {
  color: white;
  font-size: 30px;
}

/* The title that includes my name on the left of the header */

@media screen and (max-width: 992px) {
  .block-background {
    height: 180px;
  }
  header h1 {
    font-size: 35px;
    width: 36%;
  }
  .nav-item {
    font-size: 20px;
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  header,
  header nav ul {
    flex-direction: column;
  }
  .nav-item {
    display: inline-block;
    position: relative;
    width: 100%;
    text-align: center;
    vertical-align: middle;
  }
  .block-background {
    height: 140px;
  }
  .image_portrait {
    width: 120px;
  }
  header h1 {
    font-size: 30px;
  }
  .nav-item {
    font-size: 20px;
  }

  header nav,
  header h1 {
    width: 100%;
  }
}
