:root {
  /* declare a variable with `--` syntax */
  --dark: rgb(0, 17, 55);
  --light: rgb(41, 175, 216);
}

header {
  display: flex;
  flex-direction: row;
  padding: 20px;
  font-family: "Kaushan Script", cursive;
  margin: 0;
  background-color: var(--dark);
}

/* The title that includes my name on the left of the header */
header h1 {
  position: relative;
  width: 40%;
  left: -20px;
  text-align: right;
  color: var(--dark);
  background-color: var(--light);
  /* font-size: 4vw; */
  font-size: 50px;
  font-weight: bold;
  padding: 10px;
}

/* Sets the width of the navigation/links area */
header nav {
  width: 70%;
}

/* The parent flexbox to organise the layout of the links */
header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: nowrap;
  height: 100%;
}

.navbar-toggler-icon {
  color: var(--light);
}

/* styles each link in the nav menu */
.nav-item {
  padding: 10px;
  /* font-size: 2vw; */

  font-size: 30px;
  font-weight: bold;
}

.nav-link {
  color: var(--light);
}

.nav-item .active {
  border-radius: 6px;
  color: azure;
}

/* Styles the banner area */
.block-background {
  height: 220px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../Images/Background.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

@media screen and (max-width: 992px) {
  .block-background {
    height: 180px;
  }
  header h1 {
    font-size: 35px;
    width: 36%;
  }
  .nav-item {
    font-size: 20px;
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  header,
  header nav ul {
    flex-direction: column;
  }
  .nav-item {
    display: inline-block;
    position: relative;
    width: 100%;
    text-align: center;
    vertical-align: middle;
  }
  .block-background {
    height: 140px;
  }
  .image_portrait {
    width: 120px;
  }
  header h1 {
    font-size: 30px;
  }
  .nav-item {
    font-size: 20px;
  }

  header nav,
  header h1 {
    width: 100%;
  }
}

/* @media screen and (max-width: 410px) {
  header,
  header nav ul {
    flex-direction: column;
  }
  .nav-menu {
    display: inline-block;
    position: relative;
    width: 100%;
    text-align: center;
    vertical-align: middle;
  }
  .block-background {
    height: 110px;
  }
  .image_portrait {
    width: 100px;
  }
  header h1 {
    font-size: 25px;
  }
  .nav-item {
    font-size: 18px;
  }
}  */
