:root {
  /* declare a variable with `--` syntax */
  --dark: rgb(0, 17, 55);
  --light: rgb(41, 175, 216);
}

.resume {
  font-size: 30px;
  font-family: "Oswald", sans-serif;
}

.download-link {
  color: rgb(131, 24, 24);
  font-size: 30px;
  font-weight: bold;
}

h3 {
  font-family: "Oswald", sans-serif;
}

ul {
  font-family: "Oswald", sans-serif;
}
